@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100vh;
}

html,
body {
  overflow: hidden;
}

#routes {
  height: calc(100vh - 5rem);
  overflow: auto;
  @apply flex p-4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
