@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100vh;
}

html,
body {
  overflow: hidden;
}

#board {
  height: calc(100vh - 6rem);
  @apply flex pb-4 items-start px-4 mb-3 overflow-x-auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
